<h1>
  {{title}}
</h1>
<nav>
  <a routerLink = "/users">Users</a> |
  <a routerLink = "/posts">Posts</a> |
  <a routerLink="/fire" routerLinkActive="active">Firebase test</a>
</nav>
<!--<jce-spinner></jce-spinner>-->
<router-outlet></router-outlet>


