
<span *ngIf = "!isEdit" >Title: {{post.title}},<br> Content: {{post.content}}</span>
<span *ngIf = "isEdit" >Title: <input type="text" [(ngModel)] = "post.title"><!-- Contetnt: <input type="text" [(ngModel)] = "post.content">Author: <input type="text" [(ngModel)] = "post.author">--></span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 

