<div>
  <h3>Posts list:</h3>
  <!-- <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>-->
  <jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
 <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group posts">
        <li class="list-group-item" 
        *ngFor = "let post of posts"
         [class.active]="currentPost == post"
         (click)="select(post)" >
           <!-- Name: {{user.name}}, Email {{user.email}} <br>-->
                <jce-post [post] = post (deleteEvent) = "deletePost($event)"
                  (editEvent) = "editPost($event)"></jce-post> 
                     
        </li>
  </ul>
</div>
 